In [1]:
from pyspark.sql import SparkSession, functions as F, types as T

In [12]:
spark = SparkSession.builder.master("spark://spark-master:7077").config("spark.jars.packages", 
                                                                        "org.apache.hadoop:hadoop-aws-2.7.3").appName("spark-hw").getOrCreate()

26/01/21 16:46:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [13]:
print(spark.version)

3.5.1

In [14]:
actor_df = spark.read.csv('../data/actor.csv', header=True, inferSchema=True)
address_df = spark.read.csv('../data/address.csv', header=True, inferSchema=True)
category_df = spark.read.csv('../data/category.csv', header=True, inferSchema=True)
city_df = spark.read.csv('../data/city.csv', header=True, inferSchema=True)
country_df = spark.read.csv('../data/country.csv', header=True, inferSchema=True)
customer_df = spark.read.csv('../data/customer.csv', header=True, inferSchema=True)
film_df = spark.read.csv('../data/film.csv', header=True, inferSchema=True)
film_actor_df = spark.read.csv('../data/film_actor.csv', header=True, inferSchema=True)
film_category_df = spark.read.csv('../data/film_category.csv', header=True, inferSchema=True)
inventory_df = spark.read.csv('../data/inventory.csv', header=True, inferSchema=True)
language_df = spark.read.csv('../data/language.csv', header=True, inferSchema=True)
payment_df = spark.read.csv('../data/payment.csv', header=True, inferSchema=True)
rental_df = spark.read.csv('../data/rental.csv', header=True, inferSchema=True)
staff_df = spark.read.csv('../data/staff.csv', header=True, inferSchema=True)
store_df = spark.read.csv('../data/store.csv', header=True, inferSchema=True)

# Домашнє завдання на тему Spark SQL

Задачі з домашнього завдання на SQL потрібно розвʼязати за допомогою Spark SQL DataFrame API.

- Дампи таблиць знаходяться в папці `data`. Датафрейми таблиць вже створені в клітинці вище.
- Можете створювати стільки нових клітинок, скільки вам необхідно.
- Розвʼязок кожної задачі має бути відображений в самому файлі (використати метод `.show()`)
- код має бути оформлений у відповідності із одним із стилем, показаним лектором на занятті 13.

**Увага!**
Використовувати мову запитів SQL безпосередньо забороняється, потрібно використовувати виключно DataFrame API!

1.
Вивести кількість фільмів в кожній категорії.
Результат відсортувати за спаданням.

In [11]:
category_df.show(10)

+-----------+-----------+-------------------+
|category_id|       name|        last_update|
+-----------+-----------+-------------------+
|          1|     Action|2022-02-15 09:46:27|
|          2|  Animation|2022-02-15 09:46:27|
|          3|   Children|2022-02-15 09:46:27|
|          4|   Classics|2022-02-15 09:46:27|
|          5|     Comedy|2022-02-15 09:46:27|
|          6|Documentary|2022-02-15 09:46:27|
|          7|      Drama|2022-02-15 09:46:27|
|          8|     Family|2022-02-15 09:46:27|
|          9|    Foreign|2022-02-15 09:46:27|
|         10|      Games|2022-02-15 09:46:27|
+-----------+-----------+-------------------+
only showing top 10 rows

In [8]:
film_category_df.show(10)

+-------+-----------+-------------------+
|film_id|category_id|        last_update|
+-------+-----------+-------------------+
|      1|          6|2022-02-15 10:07:09|
|      2|         11|2022-02-15 10:07:09|
|      3|          6|2022-02-15 10:07:09|
|      4|         11|2022-02-15 10:07:09|
|      5|          8|2022-02-15 10:07:09|
|      6|          9|2022-02-15 10:07:09|
|      7|          5|2022-02-15 10:07:09|
|      8|         11|2022-02-15 10:07:09|
|      9|         11|2022-02-15 10:07:09|
|     10|         15|2022-02-15 10:07:09|
+-------+-----------+-------------------+
only showing top 10 rows

In [9]:
import pyspark.sql.functions as f

In [10]:
from pyspark.sql import DataFrame

In [55]:
cnt_film_in_cat_df: DataFrame = film_category_df.join(category_df , on="category_id" , how="inner").groupBy(category_df.name) \
    .agg(f.count(film_category_df.film_id).alias("films_cnt")).orderBy(f.col("films_cnt").desc())

In [56]:
cnt_film_in_cat_df.show()

+-----------+---------+
|       name|films_cnt|
+-----------+---------+
|     Sports|       74|
|    Foreign|       73|
|     Family|       69|
|Documentary|       68|
|  Animation|       66|
|     Action|       64|
|        New|       63|
|      Drama|       62|
|      Games|       61|
|     Sci-Fi|       61|
|   Children|       60|
|     Comedy|       58|
|     Travel|       57|
|   Classics|       57|
|     Horror|       56|
|      Music|       51|
+-----------+---------+

2.
Вивести 10 акторів, чиї фільми брали на прокат найбільше.
Результат відсортувати за спаданням.

In [29]:
actor_df.show(10)

+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2022-02-15 09:34:33|
|       2|      NICK|    WAHLBERG|2022-02-15 09:34:33|
|       3|        ED|       CHASE|2022-02-15 09:34:33|
|       4|  JENNIFER|       DAVIS|2022-02-15 09:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2022-02-15 09:34:33|
|       6|     BETTE|   NICHOLSON|2022-02-15 09:34:33|
|       7|     GRACE|      MOSTEL|2022-02-15 09:34:33|
|       8|   MATTHEW|   JOHANSSON|2022-02-15 09:34:33|
|       9|       JOE|       SWANK|2022-02-15 09:34:33|
|      10| CHRISTIAN|       GABLE|2022-02-15 09:34:33|
+--------+----------+------------+-------------------+
only showing top 10 rows

In [31]:
inventory_df.show(10)

+------------+-------+--------+-------------------+
|inventory_id|film_id|store_id|        last_update|
+------------+-------+--------+-------------------+
|           1|      1|       1|2022-02-15 10:09:17|
|           2|      1|       1|2022-02-15 10:09:17|
|           3|      1|       1|2022-02-15 10:09:17|
|           4|      1|       1|2022-02-15 10:09:17|
|           5|      1|       2|2022-02-15 10:09:17|
|           6|      1|       2|2022-02-15 10:09:17|
|           7|      1|       2|2022-02-15 10:09:17|
|           8|      1|       2|2022-02-15 10:09:17|
|           9|      2|       2|2022-02-15 10:09:17|
|          10|      2|       2|2022-02-15 10:09:17|
+------------+-------+--------+-------------------+
only showing top 10 rows

In [32]:
film_actor_df.show(10)

+--------+-------+-------------------+
|actor_id|film_id|        last_update|
+--------+-------+-------------------+
|       1|      1|2022-02-15 10:05:03|
|       1|     23|2022-02-15 10:05:03|
|       1|     25|2022-02-15 10:05:03|
|       1|    106|2022-02-15 10:05:03|
|       1|    140|2022-02-15 10:05:03|
|       1|    166|2022-02-15 10:05:03|
|       1|    277|2022-02-15 10:05:03|
|       1|    361|2022-02-15 10:05:03|
|       1|    438|2022-02-15 10:05:03|
|       1|    499|2022-02-15 10:05:03|
+--------+-------+-------------------+
only showing top 10 rows

In [51]:
cnt_top10_actor_df: DataFrame = actor_df.join(film_actor_df, on="actor_id" , how="inner"). \
                                        join(inventory_df  , on="film_id" ,  how="inner"). \
    groupBy(actor_df.first_name, actor_df.last_name).agg(f.count(inventory_df.inventory_id).alias("rent_cnt")).orderBy(f.col("rent_cnt").desc()).limit(10)

In [52]:
cnt_top10_actor_df.show()

+----------+-----------+--------+
|first_name|  last_name|rent_cnt|
+----------+-----------+--------+
|     SUSAN|      DAVIS|     236|
|      GINA|  DEGENERES|     214|
|   MATTHEW|     CARREY|     198|
|      MARY|     KEITEL|     192|
|    WALTER|       TORN|     186|
|    ANGELA|WITHERSPOON|     184|
|     JAYNE|      NOLTE|     177|
|       VAL|     BOLGER|     177|
|    SANDRA|     KILMER|     174|
|     HENRY|      BERRY|     170|
+----------+-----------+--------+

3.
Вивести категорія фільмів, на яку було витрачено найбільше грошей
в прокаті

In [41]:
payment_df.show(10)

+----------+-----------+--------+---------+------+--------------------+
|payment_id|customer_id|staff_id|rental_id|amount|        payment_date|
+----------+-----------+--------+---------+------+--------------------+
|     16051|        269|       1|       98|  0.99|2022-01-29 01:58:...|
|     16065|        274|       1|      147|  2.99|2022-01-25 12:14:...|
|     16109|        297|       2|      143|  0.99|2022-01-28 00:49:...|
|     16195|        344|       2|      157|  2.99|2022-01-31 05:58:...|
|     16202|        348|       2|      821|  0.99|2022-01-26 16:52:...|
|     16216|        357|       2|      945|  0.99|2022-01-24 00:39:...|
|     16237|        369|       1|       31|  4.99|2022-01-31 00:12:...|
|     16247|        372|       1|      617|  2.99|2022-01-29 12:51:...|
|     16249|        373|       2|      257|  4.99|2022-01-29 05:33:...|
|     16259|        379|       2|      209|  4.99|2022-01-30 23:02:...|
+----------+-----------+--------+---------+------+--------------------+
only showing top 10 rows

In [42]:
rental_df.show(10)

+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|rental_id|        rental_date|inventory_id|customer_id|        return_date|staff_id|        last_update|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|        2|2022-05-24 21:54:33|        1525|        459|2022-05-28 18:40:33|       1|2022-02-16 02:30:53|
|        3|2022-05-24 22:03:39|        1711|        408|2022-06-01 21:12:39|       1|2022-02-16 02:30:53|
|        4|2022-05-24 22:04:41|        2452|        333|2022-06-03 00:43:41|       2|2022-02-16 02:30:53|
|        5|2022-05-24 22:05:21|        2079|        222|2022-06-02 03:33:21|       1|2022-02-16 02:30:53|
|        6|2022-05-24 22:08:07|        2792|        549|2022-05-27 00:32:07|       1|2022-02-16 02:30:53|
|        7|2022-05-24 22:11:53|        3995|        269|2022-05-29 19:34:53|       2|2022-02-16 02:30:53|
|        8|2022-05-24 22:31:46|        2346|        239|2022-05-27 22:33:46|       2|2022-02-16 02:30:53|
|        9|2022-05-24 23:00:40|        2580|        126|2022-05-27 23:22:40|       1|2022-02-16 02:30:53|
|       10|2022-05-24 23:02:21|        1824|        399|2022-05-31 21:44:21|       2|2022-02-16 02:30:53|
|       11|2022-05-24 23:09:02|        4443|        142|2022-06-02 19:56:02|       2|2022-02-16 02:30:53|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
only showing top 10 rows

In [43]:
inventory_df.show(10)

+------------+-------+--------+-------------------+
|inventory_id|film_id|store_id|        last_update|
+------------+-------+--------+-------------------+
|           1|      1|       1|2022-02-15 10:09:17|
|           2|      1|       1|2022-02-15 10:09:17|
|           3|      1|       1|2022-02-15 10:09:17|
|           4|      1|       1|2022-02-15 10:09:17|
|           5|      1|       2|2022-02-15 10:09:17|
|           6|      1|       2|2022-02-15 10:09:17|
|           7|      1|       2|2022-02-15 10:09:17|
|           8|      1|       2|2022-02-15 10:09:17|
|           9|      2|       2|2022-02-15 10:09:17|
|          10|      2|       2|2022-02-15 10:09:17|
+------------+-------+--------+-------------------+
only showing top 10 rows

In [44]:
film_category_df.show(10)

+-------+-----------+-------------------+
|film_id|category_id|        last_update|
+-------+-----------+-------------------+
|      1|          6|2022-02-15 10:07:09|
|      2|         11|2022-02-15 10:07:09|
|      3|          6|2022-02-15 10:07:09|
|      4|         11|2022-02-15 10:07:09|
|      5|          8|2022-02-15 10:07:09|
|      6|          9|2022-02-15 10:07:09|
|      7|          5|2022-02-15 10:07:09|
|      8|         11|2022-02-15 10:07:09|
|      9|         11|2022-02-15 10:07:09|
|     10|         15|2022-02-15 10:07:09|
+-------+-----------+-------------------+
only showing top 10 rows

In [45]:
category_df.show(10)

+-----------+-----------+-------------------+
|category_id|       name|        last_update|
+-----------+-----------+-------------------+
|          1|     Action|2022-02-15 09:46:27|
|          2|  Animation|2022-02-15 09:46:27|
|          3|   Children|2022-02-15 09:46:27|
|          4|   Classics|2022-02-15 09:46:27|
|          5|     Comedy|2022-02-15 09:46:27|
|          6|Documentary|2022-02-15 09:46:27|
|          7|      Drama|2022-02-15 09:46:27|
|          8|     Family|2022-02-15 09:46:27|
|          9|    Foreign|2022-02-15 09:46:27|
|         10|      Games|2022-02-15 09:46:27|
+-----------+-----------+-------------------+
only showing top 10 rows

In [57]:
max_pay_cat_df: DataFrame = category_df.join(film_category_df , on="category_id" , how="inner"). \
    join(inventory_df  , on="film_id"  ,  how="inner"). \
    join(rental_df   , on="inventory_id"   ,  how="inner"). \
    join(payment_df , on="rental_id"  ,  how="inner"). \
    groupBy(category_df.name).agg(f.sum(payment_df.amount).alias("rent_amt")).orderBy(f.col("rent_amt").desc()).limit(1)

In [58]:
max_pay_cat_df.show()

+------+-----------------+
|  name|         rent_amt|
+------+-----------------+
|Sports|5314.209999999843|
+------+-----------------+

4.
Вивести назви фільмів, яких не має в inventory.

In [59]:
film_df.show(10)

+-------+----------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+--------------------+--------------------+
|film_id|           title|         description|release_year|language_id|original_language_id|rental_duration|rental_rate|length|replacement_cost|rating|         last_update|    special_features|            fulltext|
+-------+----------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+--------------------+--------------------+
|      1|ACADEMY DINOSAUR|A Epic Drama of a...|        2006|          1|                NULL|              6|       0.99|    86|           20.99|    PG|2022-09-10 16:46:...|{Deleted Scenes,B...|'academi':1 'batt...|
|      2|  ACE GOLDFINGER|A Astounding Epis...|        2006|          1|                NULL|              3|       4.99|    48|           12.99|     G|2022-09-10 16:46:...|{Trailers,Deleted...|'ace':1 'administ...|
|      3|ADAPTATION HOLES|A Astounding Refl...|        2006|          1|                NULL|              7|       2.99|    50|           18.99| NC-17|2022-09-10 16:46:...|{Trailers,Deleted...|'adapt':1 'astoun...|
|      4|AFFAIR PREJUDICE|A Fanciful Docume...|        2006|          1|                NULL|              5|       2.99|   117|           26.99|     G|2022-09-10 16:46:...|{Commentaries,Beh...|'affair':1 'chase...|
|      5|     AFRICAN EGG|A Fast-Paced Docu...|        2006|          1|                NULL|              6|       2.99|   130|           22.99|     G|2022-09-10 16:46:...|    {Deleted Scenes}|'african':1 'chef...|
|      6|    AGENT TRUMAN|A Intrepid Panora...|        2006|          1|                NULL|              3|       2.99|   169|           17.99|    PG|2022-09-10 16:46:...|    {Deleted Scenes}|'agent':1 'ancien...|
|      7| AIRPLANE SIERRA|A Touching Saga o...|        2006|          1|                NULL|              6|       4.99|    62|           28.99| PG-13|2022-09-10 16:46:...|{Trailers,Deleted...|'airplan':1 'boat...|
|      8| AIRPORT POLLOCK|A Epic Tale of a ...|        2006|          1|                NULL|              6|       4.99|    54|           15.99|     R|2022-09-10 16:46:...|          {Trailers}|'airport':1 'anci...|
|      9|   ALABAMA DEVIL|A Thoughtful Pano...|        2006|          1|                NULL|              3|       2.99|   114|           21.99| PG-13|2022-09-10 16:46:...|{Trailers,Deleted...|'administr':9 'al...|
|     10|ALADDIN CALENDAR|A Action-Packed T...|        2006|          1|                NULL|              6|       4.99|    63|           24.99| NC-17|2022-09-10 16:46:...|{Trailers,Deleted...|'action':5 'actio...|
+-------+----------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [60]:
film_notin_inventory_df: DataFrame = film_df.join(inventory_df, on="film_id" , how="left_anti").select("title")

In [61]:
film_notin_inventory_df.show()

+--------------------+
|               title|
+--------------------+
|      ALICE FANTASIA|
|         APOLLO TEEN|
|      ARGONAUTS TOWN|
|       ARK RIDGEMONT|
|ARSENIC INDEPENDENCE|
|   BOONDOCK BALLROOM|
|       BUTCH PANTHER|
|       CATCH AMISTAD|
| CHINATOWN GLADIATOR|
|      CHOCOLATE DUCK|
|COMMANDMENTS EXPRESS|
|    CROSSING DIVORCE|
|     CROWDS TELEMARK|
|    CRYSTAL BREAKING|
|          DAZED PUNK|
|DELIVERANCE MULHO...|
|   FIREHOUSE VIETNAM|
|       FLOATS GARDEN|
|FRANKENSTEIN STRA...|
|  GLADIATOR WESTWARD|
+--------------------+
only showing top 20 rows

5.
Вивести топ 3 актори, які найбільше зʼявлялись в категорії фільмів “Children”

In [64]:
#table with only "children" cat
children_category_df:  DataFrame =category_df.filter(f.col("name") == "Children")

In [65]:
children_category_df.show()

+-----------+--------+-------------------+
|category_id|    name|        last_update|
+-----------+--------+-------------------+
|          3|Children|2022-02-15 09:46:27|
+-----------+--------+-------------------+

In [66]:
actor_df.show(3)

+--------+----------+---------+-------------------+
|actor_id|first_name|last_name|        last_update|
+--------+----------+---------+-------------------+
|       1|  PENELOPE|  GUINESS|2022-02-15 09:34:33|
|       2|      NICK| WAHLBERG|2022-02-15 09:34:33|
|       3|        ED|    CHASE|2022-02-15 09:34:33|
+--------+----------+---------+-------------------+
only showing top 3 rows

In [67]:
film_actor_df.show(3)

+--------+-------+-------------------+
|actor_id|film_id|        last_update|
+--------+-------+-------------------+
|       1|      1|2022-02-15 10:05:03|
|       1|     23|2022-02-15 10:05:03|
|       1|     25|2022-02-15 10:05:03|
+--------+-------+-------------------+
only showing top 3 rows

In [68]:
film_category_df.show(3)

+-------+-----------+-------------------+
|film_id|category_id|        last_update|
+-------+-----------+-------------------+
|      1|          6|2022-02-15 10:07:09|
|      2|         11|2022-02-15 10:07:09|
|      3|          6|2022-02-15 10:07:09|
+-------+-----------+-------------------+
only showing top 3 rows

In [70]:
top3_actor_child_df: DataFrame = actor_df.join(film_actor_df , on="actor_id" , how="inner"). \
    join(film_category_df  , on="film_id"  ,  how="inner"). \
    join(children_category_df   , on="category_id"   ,  how="inner"). \
    groupBy(actor_df.first_name, actor_df.last_name).agg(f.count(film_actor_df.film_id).alias("cnt_film")).orderBy(f.col("cnt_film").desc()).limit(3)

In [71]:
top3_actor_child_df.show()

+----------+---------+--------+
|first_name|last_name|cnt_film|
+----------+---------+--------+
|     HELEN|   VOIGHT|       7|
|     SUSAN|    DAVIS|       6|
|     RALPH|     CRUZ|       5|
+----------+---------+--------+

Stop Spark session:

In [72]:
spark.stop()